In [20]:
fruits : dict =  {'A': 'cherry','B': 'banana','C':'orange'}
print(fruits)

{'A': 'cherry', 'B': 'banana', 'C': 'orange'}

In [18]:
results = {10: 'Ahamad', 20: 'Ali', 30: 'Hassan'}

In [19]:
print(results)

{10: 'Ahamad', 20: 'Ali', 30: 'Hassan'}

In [15]:
results[10]

'Ahamad'

In [21]:
results[10] = 'Jahanzaib'

In [22]:
results

{10: 'Jahanzaib', 20: 'Ali', 30: 'Hassan'}

In [24]:
results.get(20)

'Ali'

In [28]:
for x in results:    #loops
  print(x)

10
20
30

In [30]:
for x in results.values():
    print(x)

Jahanzaib
Ali
Hassan

In [36]:
print(results.items())

dict_items([(10, 'Jahanzaib'), (20, 'Ali'), (30, 'Hassan')])

In [37]:
x = list(results.items())
print(x)

[(10, 'Jahanzaib'), (20, 'Ali'), (30, 'Hassan')]

In [39]:
y = x[1]
print(y)

(20, 'Ali')

In [40]:
y[0]

20

In [64]:
person: dict = {'name': 'Ali', 'age': 20, 'city': 'Lahore', 'age': 21}

In [67]:
print(person.get('name'))

Ali

In [68]:
for x in results.items():
    print(x)

(10, 'Jahanzaib')
(20, 'Ali')
(30, 'Hassan')

In [72]:
for i, x in results.items():
    if i == 20:
        print(f'{i} : {x}')

20 : Ali

In [77]:
for i, x in results.items():
    if i == 10:
        print(f'{i} : {x}')

10 : Jahanzaib

In [1]:
students = {'Roll no': [101, 102, 103, 104],
             'Name' : ['Hassan', 'Ali', 'Iqbal', 'Saim'],
             'Subject' : ['Eng', 'Math', 'Urdu', 'isl']}

In [2]:
print(students)

{'Roll no': [101, 102, 103, 104], 'Name': ['Hassan', 'Ali', 'Iqbal', 'Saim'], 'Subject': ['Eng', 'Math', 'Urdu', 'isl']}

In [5]:
students['Name']

['Hassan', 'Ali', 'Iqbal', 'Saim']

In [6]:
students['Subject']

['Eng', 'Math', 'Urdu', 'isl']

In [8]:
students['Subject'][-4]

'Eng'

In [12]:
results = {10: 'Ahamad', 20: 'Ali', 30: 'Hassan'}

In [13]:
results

{10: 'Ahamad', 20: 'Ali', 30: 'Hassan'}

In [14]:
del results[10]

In [15]:
results

{20: 'Ali', 30: 'Hassan'}

In [2]:
results.append(40, 'sherry')

NameError: name 'results' is not defined